<div class="top-container">
<h1>Complete Angular Tutorial?</h1>
  <p>
    Welcome to the Angular tutorial. This Tutorial covers all vensions of Angular
    Strarting from Angular 2 to the latest options of i.e. Angular 8. Angular 9 &
    angular 10. We have created a simple and step by step tutorial for beginner to
    learn all the deatures of the Angular
  </p>
  <form>
    <h3>SignUp for free content</h3>
    <div class="content">
      <div class="name">
        <input class="fn" type="text" placeholder="First Name" />
        <input class="ln" type="text" placeholder="Last Name" />
      </div>
      <div class="email">
        <input type="text" placeholder="Email Address" />
      </div>
      <div class="password">
        <input type="text" placeholder="Create Password" />
      </div>
    </div>
    <button>Register</button>
  </form>
</div>