<div class="base-container">
  <div class="l-container">
    <p>
      The Angular is a development platform for building a Single Page
      Application for mobile and desktop. It was Typescript & HTML to build
      Apps. The Angular itself is written using teh Typescript.
    </p>
  </div>
  <div class="r-container">
    <div class="left">
      <button class="l-btn">Join Today</button>
    </div>
    <div class="right">
      <button class="r-btn">Connect Us</button>
    </div>
  </div>
</div>
